body {
    background-color: rgb(195, 215, 252);
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

#header {
    width: 100%;
    padding-top: 3px;
    padding-left: 7px;
    height: 35px;
    background-color: blanchedalmond;
    border-bottom: 2px solid black;
    display: flex;
    text-align: right;
    justify-content: right;
    font-size: 25px;
    font-family: "Fredoka One", cursive;
    color: rgb(128, 172, 255);
    transition: 1s;
    position: fixed;
    z-index: 1;
}

#header:hover {
    background-color: rgb(255, 215, 155);
}

#tabeDiv {
    position: absolute;
    margin-top: 42px;
}

.buttons {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 200px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    font-family: "Saira Stencil One", cursive;
    transition: 0.2s;
}

.buttons:hover {
    background-color: rgb(175, 175, 175);
}

.buttons:active {
    background-color: rgb(125, 125, 125);
}

#input {
    width: 440px;
    height: 16px;
    border-radius: 150px;
    text-align: right;
    padding: 10px;
    transition: 0.2s;
    font-family: "Miriam Libre", sans-serif;
}

#input:hover {
    background-color: gainsboro;
}

#target {
    position: absolute;
    margin-top: 45px;
    left: 5%;
}

#targetInput {
    width: 140px;
    height: 18px;
    border-radius: 150px;
    text-align: right;
    transition: 0.2s;
    font-family: "Miriam Libre", sans-serif;
}

#targetInput:hover {
    background-color: gainsboro;
}

#targetP {
    font-size: 20px;
    font-family: "Miriam Libre", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

.targetText {
    font-size: 15px;
    font-family: "Miriam Libre", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

#output {
    font-size: 23px;
    font-family: "Miriam Libre", sans-serif;
}

#libraryDiv {
    width: 200px;
    position: absolute;
    margin-top: 45px;
    left: 80%;
    padding: 7px;
    margin-left: -20px;
    margin-right: 50px;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    transition: 0.5s;
}

#history {
    display: block;
    font-size: 20px;
    font-family: "Miriam Libre", sans-serif;
    border-bottom: 2px solid black;
}

#library {
    display: block;
    font-size: 15px;
    font-family: "Miriam Libre", sans-serif;
}

#plus-library {
    display: none;
}

#counter {
    position: absolute;
    top: 85%;
    left: 90%;
    font-family: "Miriam Libre", sans-serif;
    position: fixed;
    z-index: 1;
}

#download-button {
    width: 30px;
    height: 30px;
    transition: 1s;
}

#download-button:hover {
    width: 60px;
    height: 60px;
}

#image {
    width: 100%;
}

#info {
    position: absolute;
    top: 90%;
    left: 2%;
    background-color: cornflowerblue;
    position: fixed;
    z-index: 1;
}

#info:hover {
    background-color: rgb(28, 102, 240);
}

#type {
    width: 115px;
    height: 40px;
    border-radius: 150px;
    padding: 10px;
    transition: 0.2s;
    font-family: "Miriam Libre", sans-serif;

}

#type:hover {
    background-color: gainsboro;
}
